{% include "header.html" %}


{% load static from staticfiles %}


<body>

    <!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            {% for image in carouselimages %}
                <div class="item active">
                    <div class="fill" style="background-image:url({{image.url}});"></div>
                    <div class="carousel-caption">
                        <h2>{{image.caption}}</h2>
                    </div>
                </div>
            {% endfor %}
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>

    <!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    {{welcomemsg}}
                </h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i>{{paneltitleone}}</h4>
                    </div>
                    <div class="panel-body">
                        <p>
                        {{panelbodyone}}
                        </p>
                        <a href="#" class="btn btn-default">{{panelbuttonone}}</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                 <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i>{{paneltitletwo}}</h4>
                    </div>
                    <div class="panel-body">
                        <p>
                        {{panelbodytwo}}
                        </p>
                        <a href="#" class="btn btn-default">{{panelbuttontwo}}</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i>{{paneltitlethree}}</h4>
                    </div>
                    <div class="panel-body">
                        <p>
                        {{panelbodythree}}
                        </p>
                        <a href="#" class="btn btn-default">{{panelbuttonthree}}</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->



        <hr>

        <!-- Call to Action Section -->
        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <p>{{calltoaction}}</p>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-lg btn-default btn-block" href="#">{{calltoactionbutton}}</a>
                </div>
            </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    {% include "footer.html" %}


</body>

</html>
